.news-hot {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.root-padding-p {
    padding: 10px 0 10px 0;
}

.root-link {
    text-decoration: none;
    color: black;
}

.root-font-size {
    font-size: 15px;
    line-height: 22px;
}

.card-link {
    width: 267px;
    height: 243px;
    border-bottom: 1px solid #EDEDED;
}

.offset-square {
    width: 7px;
    height: 7px;
    background-color: white;
    position: absolute;
    right: 0;
    top: -1px;
    transform: translateY(-50%) rotate(45deg);
    z-index: 99;
    border: 1px solid #0680C9;
}

.news-hot {
    width: 1200.49px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.news-hot-left {
    width: 267px;
    height: auto;
}

.news-hot-left img {
    width: 267px;
    height: 178px;
}

.card-link-c {
    width: 267px;
    height: 78px;
    margin-top: 10px;
    border-bottom: 1px solid #F6F6F6;
}

.card-link-c-s {
    display: flex;
    width: 276px;
    height: 90px;
}

.card-link-c img {
    width: 94px;
    height: 63px;
    padding-right: 10px;
}

.news-hot-left .card-link-c:last-child {
    border-bottom: none;
}

.news-hot-center {
    width: 580px;
    height: 534px;
    margin-right: 20px;
}

.news-hot-center img {
    width: 100%;
    height: 380px;
}

.news-hot-center h3 {
    font-weight: bold;
    font-size: 24px;
    width: 570px;
    height: 68px;
    padding: 0
}

.news-hot-center p {
    color: #797979;
}

.news-hot-right {
    width: 300px;
    height: auto;
    border: 1px solid #FFE3CD;
}

.calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    border: 1px solid #bb6a35;
    background-color: #fff9f2;
}

.lable-calendar {
    width: 125px;
    padding-left: 10px;
    height: 40px;
    background: linear-gradient(to right, #ffd7bb, #f9fdff);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffdbc2;
    color: #ea9e57;
}

.calendar-icon {
    margin-right: 25px;
}

.calendar-detail {
    margin: 15px;
}

.news-hot-right {
    margin-bottom: 20px;
}

.border {
    border-bottom: 1px solid #ffdbc2;
    padding: 8px 0 8px 0;
}

.padding-p {
    padding: 8px 0 8px 0;
}

.news-hot-right img {
    margin-top: 20px;
    width: 300px;
    height: 250px;
}

/*  Style banner */
.banner {
    width: 1200.49px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 596px;
    height: 90px;
}

.mg-img {
    margin-left: 10px;
}

/* Style title-name */

.hrx {
    width: 1200.49px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #80CEEC;
    position: relative;
    z-index: 88;
}

.title-name {
    width: 200px;
    height: 40px;
    font-size: 16px;
    background: linear-gradient(to right, #bcedff, #f9fdff);
    border-bottom: 1px solid #A6E7FF;
    border-left: 1px solid #A6E7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 50;
    font-weight: bold;
    color: #009ED9;
    text-transform: uppercase;
}

.square-f {
    width: 8px;
    height: 8px;
    background-color: #009ed9;
    position: relative;
    z-index: 55;
    top: -43px;
}

.square-c {
    width: 5px;
    height: 5px;
    border: 1px solid #009ed9;
    background-color: white;
    position: absolute;
    z-index: 60;
    top: 5px;
    right: -4px;
}

/* style  news-event*/
.news-event {
    width: 1200.49px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
}

.news-event-l img {
    width: 585px;
    height: 389.05px;
}

.news-event-l h3 {
    width: 585px;
    height: 68px;
    margin-bottom: 15px;
}

.news-event-c {
    margin-right: 20px;
}

.card-link-c-e {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #999694;
}

.news-event-c .card-link:last-child {
    margin-top: 15px;
    border-bottom: none;
}

/* Style media */
.media {
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;
    height: 700px;
    background-image: url("/image/Rectangle\ 394.png");
    background-color: #09A7E2;
    color: white;
    display: flex;
    justify-content: center;
}

.offset-square2 {
    width: 10px;
    height: 10px;
    background-color: #19ADE4;
    right: 0;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    border: 1px solid #89DFFF;
    top: 0px;
}


.multi-media {
    width: 1200.49px;
    border-top: 1px solid #89DFFF;
    margin-left: auto;
    margin-right: auto;
}

.hr-media {
    width: 1200.49px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.title-media {
    width: 200px;
    height: 40px;
    border-left: 1px solid;
    color: #009ed9;
    border-bottom: 1px solid;
    background: linear-gradient(to right, #bcedff, #f9fdff);
    border-bottom: 1px solid #97b6c2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}

.square-f-media {
    position: relative;
    z-index: 40;
    width: 13px;
    height: 13px;
    background-color: #09A7E2;
    top: -15px;
    left: -145px;
}

.square-c-media {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border: 1px solid;
    right: -7px;
    top: 13px;
}

.link-icon-media {
    width: 413px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link-icon-media a {
    display: flex;
    color: white;
}

.link-icon-media a i {
    margin-right: 10px;
}

.video-media {
    margin-top: 20px;
    display: flex;
}

.video-media a {
    color: white;
    padding-right: 10px;
}

.video-media-l {
    width: 584px;
    margin-right: 10px;
    height: 546px;
}

.triangles {
    width: 42px;
    height: 42px;
    border: 1px solid;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009ed9;
    position: relative;
    z-index: 25;
    bottom: calc(43%);
    left: 9px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 17px;
    border-color: transparent transparent transparent #0680C9;
    transform: rotate(0deg);
}

.multi-media {
    height: auto;
}

.video-media-r {
    border-left: 1px solid;
    padding-left: 10px;
}

.box-media {
    width: 586px;
    height: 272px;
    display: flex;
}

.box-media img {
    width: 277px;
    height: 184px;
}

.box-media a {
    width: 290px;
    height: auto;
}


/* Style news-army */
.news-army {
    margin-top: 20px;
    width: 1200.49px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.box-news-army {
    width: 870px;
}

.news-group {
    width: 100%;
    border-top: 1px solid #009ed9;
    position: relative;
}

.news-group .offset-square {
    top: 0;
}

.title-group {
    display: inline-block;
    height: auto;
    padding: 10px 20px 0px 20px;
    border-bottom: 1px solid #6ec2e0;
    border-left: 1px solid #6ec2e0;
    background: linear-gradient(to right, #bcedff, #f9fdff);
}

.title-group h3 {
    color: #1aa8de;
}

.square-mews-grooup-f {
    width: 13px;
    height: 13px;
    background-color: #09A7E2;
    position: relative;
    z-index: 15;
    top: -32px;
    left: -21px;
}

.square-mews-grooup-c {
    width: 5px;
    height: 5px;
    position: absolute;
    border: 1px solid #09A7E2;
    z-index: 15;
    top: 10px;
    left: 10px;
    background-color: #c0eeff;
}

.content-news-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.content-news-group-c {
    width: 270px;
    height: 260px;
}

.content-news-group img {
    width: 270px;
    height: 179.35px;
}

.m-news {
    margin-top: 10px;
}

.advertisement {
    margin-left: 10px;
    width: 300px;
}

.advertisement img {
    width: 100%;
    margin-bottom: 20px;
}

/* Style executive */
.executive {
    width: 100%;
    height: 570px;
    background-image: url("/image/bg-executive.png");
    background-color: #D6F3FF;
    padding-top: 50px;
}

.executive-menu {
    width: 1200.49px;
    margin: 0 auto;
    border-top: 1px solid #09A7E2;
    padding-bottom: 20px;
}

.icon-executive {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.marding-x {
    margin-left: 19px;
}

.marding-x img {
    width: 100%;
}

.some-news {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #FFD5B7;
}

.number-stt {
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: 26px;
    text-align: center;
    color: #FFF9F2;
    text-shadow: 2px 0 #FFD5B7, -2px 0 #FFD5B7, 0 2px #FFD5B7, 0 -2px #FFD5B7,
        1px 1px #FFD5B7, -1px -1px #FFD5B7, 1px -1px #FFD5B7, -1px 1px #FFD5B7
}

.calendar-detail .some-news:last-child {
    border-bottom: none;
}

.link-dowload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    background-color: #F3FCFF;
    padding: 0 10px 0 10px;
    border: 1px solid #09A7E2;
}

.link-dowload a {
    text-decoration: none;
    color: #009ED9;
}

/* footer */
footer {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0F9FF;
    border-top: 1px solid #3dadff;
}

.infor-conscious h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.infor-conscious-c {
    padding-top: 20px;
    width: 506px;
    height: 89px;
}

.f-content {
    width: 1200.49px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
}

.infor-conscious {
    padding-left: 40px;
}

.f-content img {
    width: 130px;
    height: 131px;
}

.infor-f {
    display: flex;
}

.infor-authur {
    width: 259px;
    height: 165px;
    padding: 10px;
}

.infor-authur h3 {
    text-transform: uppercase;
}

.infor-authur p {
    padding: 5px;
    border-bottom: 1px solid #b7d4e7;
}